[submodule "tinyusb"]
	path = lib/tinyusb
	url = https://github.com/LukeShu/tinyusb.git
[submodule "lib/lwip"]
	path = lib/lwip
	url = https://github.com/lwip-tcpip/lwip.git
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
